{% extends 'home.html' %}

{% block title %}{% endblock %}

{% block body %}
                <h4 class="h4 text-center">Escolha o anime</h4>
                <nav >
                    <ul style="display:flex; gap:20px; justify-content: space-around;" class="anime">
                        <li><a class="anime" href="https://anime.williamrx777.repl.co/Samurai-Warriors/0">
                            <img style="border-radius:50px" width="150px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a504c732-2487-47cd-9380-d08f32a02454/dbkkmfh-64a22f0a-39a2-4a70-8074-56560ec85b2a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E1MDRjNzMyLTI0ODctNDdjZC05MzgwLWQwOGYzMmEwMjQ1NFwvZGJra21maC02NGEyMmYwYS0zOWEyLTRhNzAtODA3NC01NjU2MGVjODViMmEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.MiskntNvBFyPa3u5LRSNytdULpzb2OjI7gUNDRyYVNw">
                        </a></li>
                        <li ><a class="anime" href="https://anime.williamrx777.repl.co/Shurato/0">
                            <img style="border-radius:50px" width="150px" src="https://c-cl.cdn.smule.com/rs-s49/arr/73/ad/a4f88c1a-8f70-43ac-a380-1769e2036393.jpg">
                        </a></li>
                        <li><a class="anime" href="https://anime.williamrx777.repl.co/Yuyuhakusho/0">
                            <img style="border-radius:50px" width="150px" src="https://c-cl.cdn.smule.com/rs-s43/arr/ee/50/0ff0fb5c-54ef-428b-b668-b819d6d26623.jpg">
                        </a></li>
                    </ul>
                </nav>
{% endblock %}