{% extends 'home.html' %}

{% block title %}{% endblock %}

{% block body %}
                <h4>Escolha o anime</h4>
                <nav >
                    <ul style="display:flex; gap:20px" class="anime">
                        <li><a class="anime" href="https://anime-warriors.williamrx777.repl.co/SamuraiWarriors/0">Samurai Warriors</a></li>
                        <li ><a class="anime" href="https://anime.williamrx777.repl.co/Shurato/0">Shurato</a></li>
                        <li><a class="anime" href="https://anime.williamrx777.repl.co/Yuyuhakusho/0">Yu yu hakusho</a></li>
                    </ul>
                </nav>
{% endblock %}