{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Streams</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" >
</head>
<body>

<header class="header">
        <h1>Stream de Filmes e Animes</h1>
</header>
{% block body %}
    {% endblock %}
<main class="main">
        <div class="stream-filmes">
            <h2>Filmes</h2>
            <div class="lista-filmes">
                <!-- Listagem de filmes -->
            <nav>
            <ul class="filme">
                <li><a class="filme" href="{% url 'filmes' %}">
                    <img style="border-radius:50px" width="150px" src="https://image1.challengermode.com/97563008-dd4a-405b-7b67-08db3c0ee00b_256_256">
                </a></li>
            </ul>
        </nav>
            </div>
        </div>



        <section class="stream-anime">
            <h2>Animes</h2>
            <div class="lista-anime">
                <!-- Listagem de anime -->
                <ul class="filme">
                <li><a class="filme" href="{% url 'animes' %}">
                    <img style="border-radius:50px" width="150px" src="https://c-cl.cdn.smule.com/rs-s79/arr/f3/d6/8da87536-3f2e-4a29-bb6b-b67436c9e434.jpg" >
                </a></li>
                 </ul>
            </div>
        </section>

    </main>


    <footer class="footer">
        {% block footer %}
        {% endblock %}
        <p>&copy; 2023 Stream de Filmes e Anime</p>
    </footer>


</body>
</html>